*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/runConfigurations.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/compiler.xml
.project
.idea/gradle.xml
.idea/misc.xml
.idea/codeStyles/Project.xml
.settings/org.eclipse.buildship.core.prefs
app/.classpath
app/.project
app/.settings/org.eclipse.buildship.core.prefs
meshify/.classpath
meshify/.project
meshify/.settings/org.eclipse.buildship.core.prefs
.idea/jarRepositories.xml
